# --- IntelliJ IDEA ---
.idea/
*.iml
out/
gen/

# --- Archivos de Compilación de Java ---
*.class
*.log
*.bluej
*.ctxt

# --- Archivos empaquetados ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Archivos del Sistema Operativo ---
.DS_Store
Thumbs.db
db.lck
